VideoStateMachine.json
{
    "Comment": "The typical video workflow",
    "StartAt": "prepareData",
    "States": {
      "prepareData": {
        "Type": "Task",
        "Resource": { "Fn::GetAtt" : [ "prepareData", "Arn" ] },
        "Next": "Check"
      },
      "Check": {
        "Type": "Choice",
        "Choices":[
            {
               "Variable":"$.continue",
               "BooleanEquals": false,
               "Next":"iteratorMaster"
            }
         ],
         "Default":"CreateResume"
      },
      "iteratorMaster": {
        "Type": "Task",
        "Resource": { "Fn::GetAtt" : [ "frameGrouping", "Arn" ] },
        "Next": "Iterate"
      },
      "Iterate": {
        "Type": "Map",
        "InputPath": "$.detail",
        "ItemsPath": "$.items",
        "Iterator": {
          "StartAt": "Recognize",
          "States": {
            "Recognize": {
              "Type": "Task",
              "Resource": { "Fn::GetAtt" : [ "recognizer", "Arn" ] },
              "End": true
            }
          }
        },
        "ResultPath": "$.detail.items",
        "Next":"Check"
      },
      "CreateResume": {
        "Type": "Pass",
        "Result": "Fetches info from dynamo and preceed creating the resume file",
        "End": true
      }
    }
  }