VideoStateMachine.json
{
    "Comment": "The typical video workflow",
    "StartAt": "prepareData",
    "States": {
      "prepareData": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-2:693949087897:function:startMachine",
        "Next": "recNremove"
      },
      "recNremove": {
        "Type": "Parallel",
        "Next": "BatchPut",
        "Branches": [
          {
            "StartAt": "Iterate",
            "States": {
              "Iterate": {
                "Type": "Map",
                "InputPath": "$.detail",
                "ItemsPath": "$.items",
                "Iterator": {
                  "StartAt": "Recognize",
                  "States": {
                    "Recognize": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-2:693949087897:function:ahlFrameIdentifier",
                      "End": true
                    }
                  }
                },
                "ResultPath": "$.detail.items",
                "End": true
              }
            }
          },
          {
            "StartAt": "RemoveLow",
            "States": {
              "RemoveLow": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:us-east-2:693949087897:function:lowRemove",
                "End": true
              }
            }
          }
        ]
      },
      "BatchPut": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-2:693949087897:function:dynamoInsertion",
        "Next": "CreateResume"
      },
      "CreateResume": {
        "Type": "Pass",
        "Result": "Fetches info from dynamo and preceed creating the resume file",
        "End": true
      }
    }
  }