VideoStateMachine.json
{
  "Comment": "The typical video workflow",
  "StartAt": "prepareData",
  "States": {
    "prepareData": {
      "Type": "Task",
      "Resource":  "${prepareDataArn}",
      "Next": "Check",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "cleanDb"
      }]
    },
    "Check": {
      "Type": "Choice",
      "Choices":[
          {
             "Variable":"$.continue",
             "BooleanEquals": false,
             "Next":"iteratorMaster"
          }
       ],
       "Default":"CreateResume"
    },
    "iteratorMaster": {
      "Type": "Task",
      "Resource": "${frameGroupingArn}",
      "Next": "Iterate",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "cleanDb"
      }]
    },
    "Iterate": {
      "Type": "Map",
      "InputPath": "$.detail",
      "ItemsPath": "$.items",
      "Iterator": {
        "StartAt": "Recognize",
        "States": {
          "Recognize": {
            "Type": "Task",
            "Resource": "${recognizerArn}",
            "End": true
          }
        }
      },
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "cleanDb"
      }],
      "ResultPath": "$.detail.items",
      "Next":"notifyProgression"
    },
    "notifyProgression": {
      "Type": "Task",
      "Resource":  "${notifyProgressionArn}",
      "Next": "Check",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "cleanDb"
      }]
    },
    "CreateResume": {
      "Type": "Task",
      "Resource":  "${makeResumeArn}",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "cleanResume"
      }],
      "Next": "prioritize"
    },
    "prioritize": {
      "Type": "Task",
      "Resource":  "${prioritizeArn}",
      "Next": "makeFinal"
    },
    "makeFinal": {
      "Type": "Task",
      "Resource":  "${makeFinalArn}",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "cleanVideo"
      }],
      "End": true
    },
    "cleanVideo": {
      "Type": "Task",
      "Resource": "${finalVideoCleaner}",
      "Next": "cleanResume"
    },
    "cleanResume": {
      "Type": "Task",
      "Resource": "${recoJsonCleaner}",
      "Next": "cleanDb"
    },
    "cleanDb": {
      "Type": "Pass",
      "Next": "cleanFrames"
    },
    "cleanFrames": {
      "Type": "Task",
      "Resource": "${frameCleaner}",
      "End": true
    }
  }
}